*{
	padding: 0;
	margin: 0;
	list-style: none;
	}
 body{
	width: 100%;
	height: 500px;
	background:#596476;
	/*background: #333333;*/
	overflow: hidden;
}

.snow{
            background: white;
            position: absolute;
            width: 14px;
            height: 14px;
            border-radius: 50%;
}

.banner{
	width: 70%;
	height: 600px;
	margin:0 auto;
	margin-top:60px ;
	/*background: rgba(0,0,0,0.3);*/
	background: #333333;
}
.banner img{
	height: 600px;
	float: right;
}
.or{
	margin-top: 20px;     float: left;
	margin-left: 44px;
}
.banner span{
     font-size: 20px;
     color: white;
     font-weight: 700;
     display: inline-block;
     width: 100px;
     height: 35px;
     text-align: center;
     line-height: 35px;
     cursor: pointer;
}
.banner .a{border-bottom: solid red 3px;}
.banner .b{color: #596476;}

.dl{

	width: 579px;
	height: 440px;
	/*background: burlywood;*/
	margin-top: 40px ;
}
.dl .si{
	font-size: 28px;
	font-weight: 700;
	color: white;
	display: inline-block;
	height: 120px;
	width: 579px;
	line-height: 120px;
	text-align: center;
}
.dl .k1{
	height: 36px;
	width: 240px;
	margin-left: 174px;
	margin-top:20px ;
	color: #FFFFFF;
	background-color: #596476;
	border: none;
	border-radius:6px;
	padding-left: 5px;
}
.dl img{
	height: 36px;
	position: relative;
	top: 80px;
	left: -220px;
	cursor: pointer;

}
.con p{
	color: white;
}
.zc{

	width: 579px;
	height: 440px;
	/*background: burlywood;*/
	margin-top: 40px ;
	display: none;
}
.zc .su{
	font-size: 28px;
	font-weight: 700;
	color: white;
	display: inline-block;
	height: 120px;
	width: 579px;
	line-height: 120px;
	text-align: center;
}
.zc .k2{
	height: 36px;
	width: 240px;
	margin-left: 174px;
	margin-top:20px ;
	color: #FFFFFF;
	background-color: #596476;
	border: none;
	border-radius:6px;
	padding-left: 5px;
}
.zc img{
	height: 36px;
	position: relative;
	top: 80px;
	left: -220px;
	cursor: pointer;

}