*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}     
/*	<!--LOGO部分开始-->*/
#bgd{background: #333333;}
#head{
	width: 980px;
	margin: 0 auto;
	height: 80px;
}
#head .left{float: left;}
#head .right{float: right;}
#head .left img{height: 80px;}
#head .right{height: 80px;}
#head .user{margin: auto 0;
color: whitesmoke;
margin: 29px 0 0 0;
cursor: pointer;
}
#bgd #head .right a:hover{background: none;}
 .father {color: white;}
#head .right .user .color{color:silver;}
/*登陆相关部分开始*/
#father {position: absolute;}
#user_log img{height:50px;
margin: 10px 0 0 85px;}
#user_log{
	z-index:100;
	position: relative;
	left: 94px;
	top: 8px;
	width: 223px;
	background: white;
}
#user_log .name,.pass{
	padding-left:18px;
	margin-left: 31px;
}
#user_log .name{background: white url(../img/pic04.png) no-repeat;}
#user_log .pass{background: white url(../img/pic05.png) no-repeat;}
#user_log input{font-size: 19px;margin-bottom:15px;
border: none;
}
#user_log .left_1{cursor: pointer;margin: 0 8px 0 69px;background: rgba(0,0,0,0);color: darkturquoise;}
#user_log .right_2{cursor: pointer;background: rgba(0,0,0,0);color: aquamarine;}
#user_log{display: none;}
/*登陆相关部分结束*/

/*<!--LOGO部分结束-->*/


/*		<!--导航部分开始-->*/
#nav{
	width: 100%;
	background:#C20C0C;
	height: 42px;
	position: absolute;
}
.nav_1{
	width: 721px;
	margin: 0 auto;
}
.nav_1 li{float: left;}
.nav_1 li a{
	left: 406px;
	width: 120px;
	height: 42px;
	display: inline-block;
	text-align: center;
	line-height: 42px;
	color: white;
}
#nav a:hover{background: #9B0909;}
/*		<!--导航部分结束-->*/
/*banner部分开始*/
#banner{
	width: 100%;
	height: 2500px;
	background: url(../img/p5d/背景.jpg) center center;
}
/*专辑介绍*/
#banner_1{
	height: 2000px;
	width: 980px;
	margin: 0 auto;
	background: rgba(255,255,255,0.5);
	padding-top: 42px;
}
.p5d图片{
	float: left;
	width: 300px;
	height: 300px;
	margin-top: 30px;
	margin-left: 30px;
}
#jiesao{
	float: left;
	margin-top: 30px;
	margin-left: 60px;
	width: 590px;
	height: 300px;
}
#jiesao p{
	color: #B40000;
}
.字体{
	color: #CC0000;
	text-align: center;
}
#jiesao span{
	color: black;
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: bold;
}
#jiesao a{
	color: #0033FF;
}
/*包含的歌曲列表*/
#music{
	height: 1000px;
	width: 930px;
	margin-top: 380px;
	margin-left: 30px;
}
#music .music{
	color: #B30000;	
	border-bottom: 2px solid #B30000;
	margin-bottom: 20px;
}
#music dl{
	width: 930px;
	height: 100px;
	margin-bottom: 20px;
}
#music dt,dd{
	float: left;
}
#music dt{
	height: 94px;
	width: 600px;
}
#music dd{
	font-weight: 700;
	line-height: 40px;
	text-align: center;
}
.dd{
	margin-top: 45px;
}
/*banner部分结束*/

/*歌曲播放部分开始*/
#music_stay{
	position: fixed;
	height: 275px;
	width: 40px;
	right: 0;
	top: 122px;
	font-size: 21px;
	text-align: center;
	background-color: rgba(169,0,0,0.3);
	color: white;
	cursor: pointer;
}
#music_stay .music_img{
	width: 40px;
	height: 40px;
}
#music_xinxi{
	background-color: rgba(169,0,0,0.8);
	position: fixed;
	height: 500px;
	width: 0px;
	right: 40px;
	top: 122px;
}
/*歌曲播放部分结束*/

/*top部分开始*/
#top{
	width: 80px;
    height: 80px;
    position: fixed;
    bottom: 2%;
    right: 2%;
}
#top img{
	width: 80px;
	height: 80px;
}
/*top部分结束*/